.modal__window {
  height: 500px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-light);
}

.modal__window .window__content {
  background-color: var(--clr-gray);
  height: 360px;
  width: 250px; 
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

/* For the modal window content */
.upper__content p {
  font-size: var(--size-xl);
}

/* styling the inputs */
.addBookForm {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
  align-items: center;
  margin-top: var(--size-2xl);
}

[data-input] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  width: 90%;
  height: 2.5rem;
  outline: none;
  border-radius: 0.8rem;
  color: var(--clr-light);
  background-color: var(--clr-dark);
}

input[type="text"],
input[type="number"]::placeholder {
  font-size: 1.2em;
  padding-left: 1rem;
}

input[type="checkbox"],
button {
  cursor: pointer;
}

.status__container {
   display: flex;
   gap: 0.5rem;
}

/* styling the checkbox */
.checkbox.style-c {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox.style-c input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox.style-c input:checked ~ .checkbox__checkmark {
  background-color: var(--clr-primary);
}

.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}

.checkbox.style-c:hover input ~ .checkbox__checkmark {
  background-color: var(--clr-light);
}

.checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
  background-color: var(--clr-primary);
}

.checkbox.style-c .checkbox__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--clr-light);
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid var(--clr-dark);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}

/* submit button css declarations */
.submit__btn {
  background-color: var(--clr-primary);
  padding: var(--size-xs);
  border-radius: 0.7rem;
  width: 90%;
}

